<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アカウント登録完了</title>
    <link rel="stylesheet"  type="text/css" href="/registerComplete.css">
</head>
<body>

<div class="outer-container">
    <div class="inner-container">
        <img src="https://image.vorkers.com/resize/120x-/logo/company/34860-197f82df2bf6ef986ea9f897705b4656.png"
             alt="株式会社SHTのロゴ" class="logo">
        <div>
            <h2>株式会社SHT</h2>
            <h3>Sys部新人研修<br>演習用ショッピングサイト</h3>
        </div>
    </div>
    
    <h1>登録が完了しました。</h1>
    <br>
	<form th:action="@{/login/login}" method="get">
    <p>ログイン画面へは <input type="submit" value="こちら"></p>
	</form>
</div>

</body>
</html>
