<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>在庫管理画面</title>
    <link rel="stylesheet" type="text/css" href="/Stock.css">
</head>
<body>
    <h1>在庫管理</h1>
    <table>
        <thead>
            <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>在庫数</th>
                <th>追加在庫数</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.stock}"></td>
                <td>
                    <form action="/addStock" method="post">
                        <input type="hidden" name="productId" th:value="${product.id}">
                        <input type="number" name="amount" min="1">
                        <button type="submit">Add</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
