<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>在庫管理画面</title>
</head>
<body>
    <h1>商品在庫情報</h1>
    
    <table border="1">
        <thead>
            <tr>
				<th>商品ID</th>
                <th>商品名</th>
                <th>在庫数</th>
                <th>在庫追加数</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through each product in the list -->
            <tr th:each="product : ${session.itemList}">
				<td th:text="${product.product_id}"></td>
                <td th:text="${product.product_name}"></td>
                <td th:text="${product.quantity}"></td>
                <td>
                    <form th:action="@{/Stock/Stock}" method="post">
                        <input type="hidden" id="product_id" name="product_id" th:value="${product.product_id}"/>
                        <input type="number" id="quantityToAdd" th:name="${product.product_name}" value="0"/>
                        <button type="submit">Add Stock</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
	
	<form th:action="@{/develop/showDevelop}"method="get">
		<input type="submit" value="管理者画面へ">
	</form>
    
</body>
</html>
